<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->

  <!-- Mis parámetros -->
  <add key="Environment" value="dev" />
  <!-- Mis parámetros -->
</appSettings>